/* Estilo general */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.game-container {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 45px;
  position: relative;
  width: 100%;
  max-width: 800px;
  transition: transform 0.2s ease-in-out;
}

.intro-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro-screen h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.start-button {
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s;
}

.start-button:hover {
  background-color: #e91e63;
  transform: translateY(-3px);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  width: 100px;
  height: 150px;
  perspective: 1000px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.2);  /* Aumenta el tamaño de la carta al 110% */
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.card.flipped .card-image {
  transform: rotateY(360deg); /* Esto es la rotación normal de la carta */
}

.card .card-image {
  transform: rotateY(0deg); /* Cuando no está volteada, muestra la parte de atrás */
}


.card-grid .card {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.card-grid .card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.sidebar {
  position: relative;
  left: 140px;
  top: 10px;
  margin-bottom:30px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.sidebar h2 {
  margin: 0 0 0px;
  font-size: 18px;
  color: #333;
}

.win-message {
  margin-top: 5px;
  text-align: left;
}

.win-message h2 {
  font-size: 20px;
  color: #28a745;
  margin-bottom: 15px;
  margin-top: 10px;
}

.win-message p {
  color:#000000;
  margin: 20 20 20 20px;
  font-size: 12px;
  
}

.restart-button {
  margin-left: 60px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #0056b3;
}

.score-board ul {
  padding: 0px;
  list-style-type: none;
}

.score-board li {
  font-size: 14px;
  margin: 5px 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

